In [2]:
import pandas as pd

In [3]:
pd

Question 1. Pandas version

In [4]:
pd.__version__

'2.3.1'

Question 2. Records count

In [128]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [130]:
df.shape

(9704, 11)

In [36]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

Question 3. Fuel types

In [131]:
df['fuel_type'].unique().shape

(2,)

Question 4. Missing values

In [135]:
df.isnull().any().sum()

np.int64(4)

Question 5. Max fuel efficiency

In [140]:
df_asia = df[df['origin'] == 'Asia']
print(df_asia.head())

    engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                   250            1.0       174.0     2714.219310
12                  320            5.0       145.0     2783.868974
14                  200            6.0       160.0     3582.687368
20                  150            3.0       197.0     2231.808142
21                  160            4.0       133.0     2659.431451

    acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8           10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12          15.1        2010   Asia    Diesel    All-wheel drive        1.0
14          14.9        2007   Asia    Diesel    All-wheel drive        0.0
20          18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21           NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0

    fuel_efficiency_mpg
8             16.823554
12            16.175820
14            11.871091
20            18.889083
21            16.077730

In [58]:
df_asia_desc = df_asia.sort_values(by="fuel_efficiency_mpg", ascending=False)

In [137]:
df_asia_desc["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

Question 6. Median value of horsepower

In [72]:
df['horsepower'].median()

np.float64(149.0)

In [86]:
freq_val = df['horsepower'].mode()[0]

In [138]:
freq_val

np.float64(152.0)

In [88]:
df_fill_horsepower = df['horsepower'].fillna(freq_val)

In [90]:
df_fill_horsepower.median()

np.float64(152.0)

Question 7. Sum of weights

In [91]:
df_asia

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,NaN,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [93]:
df[['vehicle_weight','model_year']]

      vehicle_weight  model_year
0        3413.433759        2003
1        3149.664934        2007
2        3079.038997        2018
3        2542.392402        2009
4        3460.870990        2009
...              ...         ...
9699     2981.107371        2013
9700     2439.525729        2004
9701     2583.471318        2008
9702     2905.527390        2011
9703     2908.043477        2005

[9704 rows x 2 columns]

In [94]:
df[['vehicle_weight','model_year']].head(7)

   vehicle_weight  model_year
0     3413.433759        2003
1     3149.664934        2007
2     3079.038997        2018
3     2542.392402        2009
4     3460.870990        2009
5     2484.883986        2008
6     3006.542287        2012

In [95]:
import numpy as np

In [141]:
df_two_cols = df_asia[['vehicle_weight','model_year']].head(7)

In [142]:
X = df_two_cols[["vehicle_weight","model_year"]].to_numpy()

In [143]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [144]:
Y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [145]:
XTX = X.T @ X

In [146]:
print("Shape of X:", X.shape)
print("Shape of XTX:", XTX.shape)
print("XTX:\n", XTX)

Shape of X: (7, 2)
Shape of XTX: (2, 2)
XTX:
 [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [147]:
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [148]:
XTy = X.T @ Y

In [149]:
w = XTX_inv @ XTy

In [150]:
np.sum(w)

np.float64(0.5187709081074039)